@import "reset";
body {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}
strong {
	font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}
#app-box {
	h1 {
		font-size: 24px;
		margin-bottom: 15px;
	}
}

#chat {
	background-color:rgba(255,0,0,1);
}
#users {
	background-color:rgba(0,255,0,1);
}
#rooms {
	background-color: rgb(205, 231, 255);
}

#header {
	z-index: 999999;
	position: relative;
	background-color: #222;
}
#chat, #users, #rooms, #settings {
position:absolute;
height:100%;
width:100%;
margin:0;
padding: 60px 10px 10px;
top:0;
right:0;
left:0;
bottom:0;
color:#ddd;
background-color: #111;

}


#chat {
	padding: 0;
	.inner {
		position: relative;
		height: 100%;
	}
	#message {
		position: absolute;
		bottom: 0;
		background-color: #272727;
		padding: 6px 18px;
		color: #eee;
		// font-size: 20px;
	}
	#send-message {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #000;
		color: #fff;
	}
	#message-board {
		height: 100%;
		overflow-y: scroll;
		padding-bottom: 52px;
		padding-top: 52px;
		
		&::-webkit-scrollbar { 
			display: none; 
		}
	}
	li {
		display: block;
		margin-bottom: 1px;
		// font-size: 20px;

		strong {
			background-color: #777;
			// line-height: 22px;
			padding: 0 12px;
		}

		&.system {
			background-color: #0F0F0F;
			padding: 8px 16px;
			color: #707070;
		}
	}
}
#users {
	// padding: 0;
	.inner {
		position: relative;
		height: 100%;
	}
	#user-board {
		// height: 100%;
		// overflow-y: scroll;
	}
}

#app-box {

	nav {
		* {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		
		li {
			float: left;
-moz-transform: translateX(10px) skewX(-20deg);
-webkit-transform: translateX(10px) skewX(-20deg);
-o-transform: translateX(10px) skewX(-20deg);
-ms-transform: translateX(10px) skewX(-20deg);
transform: translateX(10px) skewX(-20deg);
			// border-right: 1px solid #eee;
			border-left: 1px solid rgb(80, 80, 80);

			&:first-child {
				border: 0;
			}

			&:hover {
				background-color: #333;
					a {
					color: #fff;
				}
			}
			&.current {
				background-color: #3F3F3F;
				a {
					color: #fff;
				}
			}
		}
		a {
			display: block;
			text-decoration: none;
			padding: 15px 20px;
			color: #8A8A8A;
			-moz-transform: rotate(0deg) skewX(20deg);
			-webkit-transform: rotate(0deg) skewX(20deg);
			-o-transform: rotate(0deg) skewX(20deg);
			-ms-transform: rotate(0deg) skewX(20deg);
			transform: rotate(0deg) skewX(20deg);
			&:hover {
				color: #666;
			}
		}
	}
}


#settings {
	input,
	label {
		// font-size: 20px;
	}
	label {
		width: 90px;
		display: inline-block;
		text-align: center;
	}
}
input.inline {
  width: auto;
  padding: 3px;
  background-color: #222;
  color: #eee;
}

input#name {
	border: 1px solid #111;
	&:active, &:focus {
		border: 1px solid #525252;
	}
	&:before {
		content: "this";
		position: relative;
		top: -10px;
		background-color: #fff;
		[placeholder] {
		}	
	}
}

// Quickly adding this to make the thing work;
input[name="your-name"] {
	display: inline-block;
	width: 100px;
	margin-left: 35px;
	margin-top: 14px;
	color: #eee;
}
.enable-n {
	color: #eee;
	padding:3px;
	&:hover {
		background-color: #444;
	}
}