<% include _header.html %>

<div class="dashboard">
	<div class="row clearfix">
		<div class="column col-3">
			<div class="inner">
				<div class="add">
					<i class="fa fa-cog"></i>
				</div>
				<div class="options" style="display:none;">
					<ul>
						<li>Feed title</li>
						<li>https://status.digitalocean.com/rss</li>
						<li>CRUD</li>
					</ul>
				</div>
				<div class="feeds">
					<!-- https://developers.google.com/apis-explorer/?csw=1#p/ -->
				</div>
				<!-- <input type="text" placeholder="add feed"> -->
				<!-- <input type="submit" value="Add Feed"> -->
			</div>
		</div>
		<div class="column col-5">
			<div class="inner">
				
				<div class="add"><i class="fa fa-cog"></i></div>
				<div class="options" style="display:none;"></div>

				<div class="chat">
					<h1>Chat</h1>
					<p>Your username: <strong><%= user.username %></strong></p>
					<p>Chat room</p>
					<br>
				</div>
				<div class="console">
					<h1>Api Console</h1>
					<p>Idea is to make Api calls ... </p>
				</div>
			</div>
		</div>
		<div class="column col-4">
			<div class="inner last">

				<div class="add"><i class="fa fa-cog"></i></div>
				<div class="options" style="display:none;"></div>
				
				<div class="todos">
					<h1>Task List</h1>
					<p>Maybe link google task list.</p>
					<br>
					<ul>
						<li>this</li>
						<li>that</li>
						<li>other</li>
						<li>this</li>
						<li>that</li>
						<li>other</li>
						<li>this</li>
						<li>that</li>
						<li>other</li>
					</ul>
				</div>
				<br>
				<div class="servers">
					<h1>Active Servers</h1>
					<ul>
						<li>Vesta_1 <span class="red"></span></li>
						<li>www1.gurustuhq.com <span class="red"></span></li>
						<li>web1.gurustuhq.com <span class="green"></span></li>
						<li>www2.gurustuhq.com <span class="green"></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<% include _footer.html %>