<% include _header.html %>

<div class="dashboard">
	<div class="row clearfix">
		<div class="column col-3">
			<div class="inner">
				<div class="feeds">
					<div class="feed">feed 1</div>
					<div class="feed">feed 2</div>
					<div class="feed">feed 3</div>
					<div class="feed">feed 3</div>
					<div class="feed">feed 3</div>
					<div class="feed">feed 3</div>
					<div class="feed">feed 3</div>
				</div>
			</div>
		</div>
		<div class="column col-5">
			<div class="inner">
		<!-- 		<div class="chat">
					chat message <br>
					chat message <br>
					chat message <br>
					chat message <br>
					chat message <br>
				</div>
				<div class="console">
					console message <br>
					console message <br>
					console message <br>
				</div> -->
			</div>
		</div>
		<div class="column col-4">
			<div class="inner">
				<div class="todos">
				<!-- 	<ul>
						<li>this</li>
						<li>that</li>
						<li>other</li>
						<li>this</li>
						<li>that</li>
						<li>other</li>
						<li>this</li>
						<li>that</li>
						<li>other</li>
					</ul> -->
				</div>
				<div class="servers">
				<!-- 	<ul>
						<li>server 1</li>
						<li>server 2</li>
						<li>server 3</li>
						<li>server 1</li>
						<li>server 2</li>
						<li>server 3</li>
						<li>server 1</li>
						<li>server 2</li>
						<li>server 3</li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</div>


	
<% include _footer.html %>