/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Modified by Richard Keller
*/
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea,
button, input[type=submit] {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: transparent;
  outline: 0; }

input[type=text], textarea {
  width: 100%; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@media only screen and (min-width: 1024px) {
  .dashboard {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; }

  .column {
    float: left; }
    .column.col-1 {
      width: 8.33333%; }
    .column.col-2 {
      width: 16.66667%; }
    .column.col-3 {
      width: 25%; }
    .column.col-4 {
      width: 33.33333%; }
    .column.col-5 {
      width: 41.66667%; }
    .column.col-6 {
      width: 50%; }
    .column.col-7 {
      width: 58.33333%; }
    .column.col-8 {
      width: 66.66667%; }
    .column.col-9 {
      width: 75%; }
    .column.col-10 {
      width: 83.33333%; }
    .column.col-11 {
      width: 91.66667%; }
    .column.col-12 {
      width: 100%; }
    .column > div {
      border: 2px solid #000;
      margin-right: 10px; } }
