/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Modified by Richard Keller
*/
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea,
button, input[type=submit] {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: transparent;
  outline: 0;
  box-shadow: 1px 2px 5px -2px #D6D6D6; }

input[type=text],
textarea,
input[type=password] {
  width: 100%;
  box-shadow: 1px 1px 0px #ECECEC;
  box-shadow: 1px 2px 5px -2px #D6D6D6; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  background-image: url(http://dev.richardkeller.net/resources/Animated_fire_by_nevit.gif);
  background-size: cover;
  overflow: hidden; }

a {
  text-decoration: none; }

@media only screen and (min-width: 1024px) {
  .dashboard {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow: hidden; }

  .column {
    float: left; }
    .column.col-1 {
      width: 8.33333%; }
    .column.col-2 {
      width: 16.66667%; }
    .column.col-3 {
      width: 25%; }
    .column.col-4 {
      width: 33.33333%; }
    .column.col-5 {
      width: 41.66667%; }
    .column.col-6 {
      width: 50%; }
    .column.col-7 {
      width: 58.33333%; }
    .column.col-8 {
      width: 66.66667%; }
    .column.col-9 {
      width: 75%; }
    .column.col-10 {
      width: 83.33333%; }
    .column.col-11 {
      width: 91.66667%; }
    .column.col-12 {
      width: 100%; }
    .column > .inner {
      margin-right: 10px;
      padding: 1em;
      border: 1px solid #000; }
      .column > .inner.last {
        margin-right: 0; } }
#login {
  width: 354px;
  margin: 13em auto;
  color: #fff; }
  #login label {
    width: 72px; }
  #login input[type=text],
  #login input[type=password] {
    background-color: #fff;
    width: 250px;
    padding: 8px; }
    #login input[type=text]:hover,
    #login input[type=password]:hover {
      box-shadow: 1px 2px 5px -5px #D6D6D6; }

.field {
  margin-bottom: 1em; }
  .field label {
    display: inline-block;
    width: 100px;
    text-align: right; }

button,
input[type=submit] {
  font-size: 12px;
  padding: 8px;
  background-color: #fff;
  color: #000; }
  button:hover,
  input[type=submit]:hover {
    background-color: #eee; }

.dashboard h1 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold; }

.feeds .feed {
  margin-bottom: 1em; }
  .feeds .feed a {
    display: block;
    margin-bottom: 5px; }

.servers ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.servers li {
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  overflow: hidden;
  padding: 1em;
  display: block;
  border-bottom: 1px solid #444;
  background-color: #222;
  color: #fff; }
  .servers li:hover {
    background-color: #333; }
  .servers li span {
    height: 10px;
    width: 10px;
    display: block;
    float: right;
    border-radius: 100%; }
    .servers li span.green {
      background-color: lime; }
    .servers li span.red {
      background-color: red; }

/*# sourceMappingURL=app.css.map */
